<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FoodSavers!</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/public/css/tailwind.css">
</head>

<body>
<h1>Testing</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex excepturi ab commodi dolore vel quis ullam nostrum earum expedita, quibusdam minima hic cupiditate voluptas quaerat neque quidem, impedit labore debitis?</p>
{{{ body }}}

</body>

</html>