<div class="flex justify-center m-5">
  <h2 class="block text-5xl text-emerald-700 font-semibold">Welcome to FoodSaver!</h2>
</div>

<div class="flex justify-center m-5 p-3">
  <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <img class="w-full" src="/images/test.jpg" alt="tomatoes, carrots, zuchini in a bowl with rice">
    <div class="px-6 py-4">
      {{#each recipes as |recipe| }}
      <div class="font-bold text-xl mb-2 text-center text-emerald-500 hover:text-emerald-700">
        <a href="/recipe/{{recipe.id}}">{{recipe.name}}</a>
      </div>
      <p class="text-gray-700 text-base text-center">
        {{recipe.body}}
      </p>
      <div class="px-6 pt-4 pb-2 text-center">
        {{!-- can't get the data for recipe.user_name, future development --}}
        <span
          class="inline-block bg-emerald-600/50 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 text-center ">Submited
          by test_user_1{{recipe.user_name}} 
        </span>
      </div>
    </div>
    {{/each}}
  </div>
</div>