{{#each ingredients as |ingredient|}}
<div class="sm:grid grid-cols-5 border-2 border-emerald-600/60 shadow-md p-7 relative lg:max-w-2xl sm:p-4 rounded-lg lg:col-span-2 lg:ml-20 m-3">
  <img src="/images/tomato.jpeg" alt="one tomato" class="w-full rounded-lg">
  <div class="pt-5 self-center sm:pt-0 sm:pl-10 col-span-3">
      <h2 class="text-gray-800 capitalize text-xl font-bold">{{ingredient.name}}</h2>
    <a href="#" class="capitalize underline inline-block pt-2">Edit</a>
    <a href="#" class="capitalize underline inline-block pt-2">Delete</a>
  </div>
</div>
{{/each}}








