{{#each recipes as |recipe|}}
<div class="grid grid-cols-3 m-5">
  <div class="col-span-1 flex justify-center">
    <img src="/images/test.jpg" alt="tomatoes, carrots, zuchini in a bowl with rice">
  </div>
  <div>
    <h2 class="text-4xl text-emerald-700 hover:text-emerald-500 font-semibold flex justify-center">
        <a href="/recipe/{{recipe.id}}">{{recipe.name}}</a>
    </h2>
    <h3 class="text-2xl col-span-2 flex justify-center">Ingredients and Instructions</h3>
    <p class="col-span-2 flex justify-center">{{recipe.body}}</p>
  </div>
</div>
{{/each}}