<div class="row">
  <div class="col-auto">
    <h2>{{name}}</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Ingredients needed</h3>
  <div class="ingredients">
    <p>{{recipe.body}}</p>
  </div>
  </div>
</div>